.profile {
  margin: 0;
  padding: 74px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #202020;
  flex: 1;
}

.profile__container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 410px;
}

.profile__title {
  margin: 0 0 123px;
  padding: 0;
  box-sizing: border-box;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.profile__info {
  margin: 0 0 17px;
  padding: 0 0 16px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.profile__info:nth-of-type(2) {
  margin: 0;
  border: none;
}

.profile__name {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__value {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: transparent;

  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  text-align: right;
}

.profile__btn-container {
  margin: 220px 0 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.profile__btn {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;

  transition: opacity 0.3s ease-in;
}

.profile__btn_type_exit {
  font-weight: 500;
  color: rgba(238, 52, 101, 1);
}

.profile__save-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 45px;
  border-radius: 3px;
  background: #4285f4;
  outline: none;
  border: none;
  cursor: pointer;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}

.profile__btn:hover {
  opacity: 0.7;
}

.profile__save-button:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .profile {
    padding: 236px 0 0;
  }
  .profile__title {
    margin: 0 0 96px;
  }
  .profile__btn-container {
    margin: 210px 0 0;
  }
}

@media (max-width: 500px) {
  .profile {
    padding: 70px 30px 0;
  }
  .profile__container {
    width: 100%;
  }
  .profile__title {
    margin: 0 0 80px;
  }
  .profile__btn-container {
    margin: 379px 0 0;
  }
}
