.header {
  margin: 0;
  padding: 0 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  background-color: rgba(7, 48, 66, 1);
}
