.promo {
  margin: 0;
  padding: 149px 70px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(7, 48, 66, 1);
}

.promo__content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.promo__title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 640px;

  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
}

.promo__description {
  margin: 36px 0 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 310px;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 0.5);
}

.promo__btn-more {
  margin: 146px 0 25px 0;
  padding: 10px 20px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  max-width: 131px;

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
}

.promo__image {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 310px;
  height: 304px;
  background-image: url(../../../images/landing-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
